@import '../../styles/colors';
@import '../../styles/fonts';

:local(.component){
  text-align: center;
   width: 100%;
  height: 100%;


  h2{
    color: $gray;
    text-transform: uppercase;
  }
  h4{
    text-transform: uppercase;
  }
 .close{
    position:absolute;
    right:0;
    top:0;
    cursor: pointer;
    &:hover{
      color:$hover;
    }
    i{
      @media #{$phone-portrait, $tiny}{
      }
      @media #{$phone-landscape}{
      }
      @media #{$pad-portrait}{
        font-size:3rem;
      }
      @media #{$pad-landscape}{
        font-size:3rem;
      }
      @media #{$desktop, $desktop-large, $desktop-huge}{
        font-size:3rem;
      }
    }
  }

  :local(.a){
    display:block;
    text-decoration:underline;
    position:relative;

    @media #{$phone-portrait,$phone-landscape, $tiny}{
      font-size: 1.5rem;
      line-height: 1.8rem;
      margin:0.2rem 0 0.1rem 0;
    }
    @media #{$pad-portrait, $pad-landscape}{
      font-size: 3.5rem;
      line-height: 3.5rem;
      margin:0.5rem 0 2rem 0;
    }
    @media #{$desktop, $desktop-large, $desktop-huge}{
      font-size: 5rem;
      line-height: 5rem;
      margin:0.5rem 0 2rem 0;
    }
  }

  .content{
    @media #{$desktop, $desktop-large, $desktop-huge}{
      position:absolute;
      left:50%;
      top:50%;
      transform:translate(-50%,-50%);
    }
  }

}

:local(.logoContainer){
  position:absolute;
  bottom:1em;
  left:50%;
  transform: translate(-50%,0);
}

:local(.background){
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-repeat:no-repeat;
  //z-index: -2;
  img{
    height:auto;
    width:100vw;
    position: absolute;  
    bottom: 0;  
    left: 0;  
    // @media #{$phone-portrait, $tiny}{
    //   width: 90%;
    //   background-position:(0px 11rem);
    // }
    // @media #{$phone-landscape}{
    //   width: 56%;
    //   background-position:(0px 0rem);
    // }
    // @media #{$pad-portrait}{
    //   width: 80%;
    //   background-position:(0px 10rem);
    // }
    // @media #{$pad-landscape}{
    //   width: 75%;
    //   background-position:(0px 0rem);
    // }
    // @media #{$desktop, $desktop-large, $desktop-huge}{
    //   width: 65%;
    //   background-position:(0px 0px);
    // }
  }
}

:local(.impContainer){
  z-index: 10;
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color:black;
  padding: 0 5rem;
  transition: transform ease-in-out 0.5s;
  transform:translate(0,100%);
  &.isOpen{
    transform:translate(0,0);
  }

}

