@import '../../styles/fonts';
@import '../../styles/variables';

:local(.component){
  h1{
    font-weight: normal;
    margin:0;
    @media #{$phone-portrait, $phone-landscape, $tiny}{
      font-size: 3.1rem;
      line-height: 3.8rem;
      margin:1rem;
    }
    @media #{$pad-portrait, $pad-landscape}{
      font-size: 5rem;
      line-height: 6.1rem;
      margin:2rem;
    }
    @media #{$desktop, $desktop-large, $desktop-huge}{
      font-size: 5rem;
      line-height: 7rem;
      margin:2rem;
    }
  }
  a{
    text-transform: uppercase;
  }
}