{
  "presets": ["es2015", "stage-2", "react"],
  "plugins": ["static-fs","transform-decorators-legacy","react-hot-loader/babel",["extensible-destructuring", {"mode": "optout", "impl": "immutable"}],"transform-es2015-modules-commonjs"]
} 