@import '../../styles/variables';
:local(.component){
  section{
    height:100%;
    width:100%;
    position: relative;
    padding: 4rem;
    @media #{$phone-portrait}{
      padding: 2rem;
    }
    @media #{$phone-landscape}{
      padding: 1rem 3rem;
    }
  }

}

:local(.lust){
  margin-bottom: 30rem;
  // @media #{$phone-portrait}{
  //   margin-bottom: 300px;
  // }
  // @media #{$phone-landscape}{
  //   margin-bottom: 200px;
  // }
  // @media #{$pad-portrait}{
  //   margin-bottom: 450px;
  // }
  // @media #{$pad-landscape}{
  //   margin-bottom: 350px;
  // }
  // @media #{$desktop-huge}{
  //   margin-bottom: 700px
  // }

}
:local(.fiktion){
   margin-bottom: 20rem;
  // @media #{$phone-portrait}{
  //   margin-bottom: 0px;
  // }
  // @media #{$phone-landscape,$phone-portrait}{
  //   margin-bottom: 200px;
  // }
  // @media #{$pad-portrait}{
  //   margin-bottom: 200px;
  // }
  // @media #{$pad-landscape}{
  //   margin-bottom: 350px;
  // }
  // @media #{$desktop-huge}{
  //   margin-bottom: 700px
  // }
}
:local(.start){
}