@import '../../styles/variables';
:local(.component){
  section{
    height:100vh;
    width:100vw;
    position: relative;
    padding: 4rem;
    @media #{$phone-portrait}{
      padding: 2rem;
    }
    @media #{$phone-landscape}{
      padding: 1rem 3rem;
    }
  }

}

:local(.lust){
  margin-bottom: 500px;
  @media #{$phone-portrait}{
    margin-bottom: 300px;
  }
  @media #{$phone-landscape}{
    margin-bottom: 200px;
  }
  @media #{$pad-portrait}{
    margin-bottom: 450px;
  }
  @media #{$pad-landscape}{
    margin-bottom: 350px;
  }
}
:local(.fiktion){
  margin-bottom: 500px;
  @media #{$phone-portrait}{
    margin-bottom: 0px;
  }
  @media #{$phone-landscape,$phone-portrait}{
    margin-bottom: 200px;
  }
  @media #{$pad-portrait}{
    margin-bottom: 200px;
  }
  @media #{$pad-landscape}{
    margin-bottom: 350px;
  }
}
:local(.start){
}