@import 'variables';

$breakpoints: (
  'tiny':$tiny,
  'phone-portrait':$phone-portrait,
  'phone-landscape':$phone-landscape,
  'pad-portrait':$pad-portrait,
  'pad-landscape':$pad-landscape,
  'desktop': $desktop,
  'desktop-large': $desktop-large,
  'desktop-huge': $desktop-huge,
  'retina': $retina,
);

@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
      type-of($raw-query) == 'string',
      unquote($raw-query),
      inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}