@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'colors';
@import 'fonts';
@import 'variables';
*{
  box-sizing:border-box;
}
html,body{
  padding: 0;
  margin: 0;
  width:100%;
}

html{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:$black;
  color:$white;
  font-family: 'Oswald', sans-serif;
}
@media #{$phone-portrait, $tiny}{
  html{
    font-size: 12px;
  }
}
@media #{$pad-portrait, $pad-landscape}{
  html{
    font-size: 14px;
  }
}
@media #{$desktop}{
  html{
    font-size: 16px;
  }
}
@media #{$desktop-large}{
  html{
    font-size: 16px;
  }
}
@media #{$desktop-huge}{
  html{
    font-size: 24px;
  }
}
a{
  cursor: pointer;
  color:$white;
  text-decoration: underline;
  transition: color ease-in-out 0.25s;
  &:hover{
    color:$hover;
  }
}
body{
  overflow-x: hidden;
}