@import '../../styles/colors';

:local(.component){
  transform-origin: left top;
  line-height: 1rem;
  color:$black;
  text-transform: uppercase;
  font-weight: inline;
  display: inline-block;
  img{
    opacity: 0.5;
  }
}