@import '../../styles/fonts';
@import '../../styles/colors';

:local(.component){
  z-index: 10;
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:$black;
  transform:translate(-100%,0);
  transition:transform ease-in-out 0.4s;
  overflow: hidden;
  &.isOpen{
    transform:translate(0,0);
  }
}

$size-open: 80%;
$size-closed: 20%;

:local(.content){
  width:$size-open;
  position:relative;
  @media #{$phone-portrait, $tiny}{
    padding:1.5rem;
  }
  @media #{$phone-landscape}{
    padding:1.5rem;
  }
  @media #{$pad-portrait}{
    padding:2.5rem;
  }
  @media #{$pad-landscape}{
    padding:3rem;
  }
  @media #{$desktop, $desktop-large, $desktop-huge}{
    padding:2rem;
  }
  &.isOpen{

  }

  .close{
    position:absolute;
    right:0;
    top:0;
    cursor: pointer;
    &:hover{
      color:$hover;
    }
    i{
      @media #{$phone-portrait, $tiny}{
      }
      @media #{$phone-landscape}{
      }
      @media #{$pad-portrait}{
        font-size:3rem;
      }
      @media #{$pad-landscape}{
        font-size:3rem;
      }
      @media #{$desktop, $desktop-large, $desktop-huge}{
        font-size:3rem;
      }
    }
  }
}

:local(.gallery){
  width:100%;
  height:100%;
  top:0;
  left:0;
  overflow:hidden;
  position:absolute;
  transform:translate($size-open,0);
  transition:transform ease-in-out 0.4s;
  background:$white;

  &.isOpen{
    transform:translate(0,0);
  }
  .container{
    white-space: nowrap;
    overflow:visible;
    transition: transform ease-in-out 0.5s;
  }

  label{
    position:absolute;
    left:20px;
    top:10px;
  }
}

:local(.img){
  width:100vw;
  height:100vh;
  background-size:cover;
  background-position:center;
  display:inline-block;
}

:local(.scrollContainer){
  height: 100%;
  overflow-y: auto;
}

:local(.next){
  position:absolute;
  z-index: 11;
  top:50%;
  right:20px;
  cursor: pointer;
  transform:translate(0,-50%);
  font-size: 2rem;
  line-height: 2rem;
  padding: 3px 5px 5px 5px;
  background-color:$white;
  border-radius:10px;

  color:$black;
  &:hover{
    color:$hover;
  }
}

:local(.arrow){
  position:absolute;
  right:20%;
  top:50%;
  z-index: 11;
    cursor: pointer;

  //transform:translate(-5%,0);
  transition:right ease-in-out 0.4s;
  i{
    @media #{$phone-portrait, $tiny}{
      font-size:2.5rem;

    }
    @media #{$phone-landscape}{
      font-size:2.5rem;

    }
    @media #{$pad-portrait}{
      font-size:3.5rem;
    }
    @media #{$pad-landscape}{
      font-size:3rem;
    }
    @media #{$desktop, $desktop-large, $desktop-huge}{
      font-size:3rem;
    }    

    transform:translate(50%,-50%) rotateZ(90deg) ;
    transition: transform ease-in-out 0.4s, border-radius ease-in-out 0.4s;
    color:black;
    background-color: white;
    border-radius:50%;


    &:hover{
      color:$hover;
      cursor: pointer;
    }
  }
  &.moveLeft{
    right:100%;
    i{
     transform:translate(100%,-50%) rotateZ(-90deg) ;
         border-top-left-radius:0%;
    border-top-right-radius:0%;
    }
  }
}