@import '../../styles/fonts';
@import '../../styles/colors';

:local(.component){
  text-align: center;
  a{
    text-decoration: none;
  }
  @media #{$phone-portrait, $tiny}{
    margin:1rem;
    margin-top:6rem;
  }
  @media #{$phone-landscape}{
    margin:0 !important;
  }
  @media #{$pad-portrait}{
    margin:2rem;
    margin-top:8rem;
  }
  @media #{$pad-landscape}{
    margin:2rem;
    margin-top:0.5rem;
  }
  @media #{$desktop}{
    margin:2rem;
    margin-top:1rem;
  } 
  @media #{$desktop-large, $desktop-huge}{
    margin:2rem;
    margin-top:5rem;
  }
}

:local(.h1){
  margin:0;
  @media #{$phone-portrait, $phone-landscape, $tiny}{
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  @media #{$pad-portrait, $pad-landscape}{
    font-size: 5rem;
    line-height: 5rem;
  }
  @media #{$desktop}{
    font-size: 3rem;
    line-height: 3rem;
  }
  @media #{$desktop-large, $desktop-huge}{
    font-size: 5rem;
    line-height: 5rem;
  }
}


:local(.h5){ 
  color:$white;
  font-weight: normal;
  @media #{$phone-portrait,$phone-landscape, $tiny}{
    font-size: 1.3rem;
    line-height: 1.3rem;
    margin:0.7rem 0 0.5rem 0;
  }
  @media #{$phone-landscape}{
    font-size: 1.1rem;
    line-height: 1.1rem;
    margin:0.2rem 0 0.5rem 0;
  }
  @media #{$pad-portrait, $pad-landscape}{
    font-size: 2rem;
    line-height: 2rem;
    margin:0.5rem 0 1rem 0;
  }
  @media #{$desktop, $desktop-large, $desktop-huge}{
    font-size: 2rem;
    line-height: 2rem;
    margin:0.5rem 0 2rem 0;
  }
}

:local(.sind){
    color:$gray;
}

:local(.collab){
  color:$gray;
  @media #{$phone-portrait,$phone-landscape, $tiny}{
    line-height: 1.1rem;
    margin:2rem 0 0.5rem 0;
  }
  @media #{$phone-landscape}{
    line-height: 1.1rem;
    margin:1.5rem 0 0.5rem 0;
  }
  @media #{$pad-portrait, $pad-landscape}{
    margin:5rem 0 1rem 0;
  }
}

:local(.frau){
  margin-bottom: 3rem;
  @media #{$phone-portrait, $tiny}{
    margin-bottom: 2rem;
  }
 
}