@import '../../styles/colors';
@import '../../styles/variables';

:local(.component){
  h2{
    text-align: center;
    color:$gray;
    font-weight: normal;
    @media #{$phone-portrait,$phone-landscape, $tiny}{
      font-size: 1.4rem;
      line-height: 1.4rem;
      margin:0 0 1rem 0;
    }
    @media #{$pad-portrait, $pad-landscape}{
      font-size: 2rem;
      line-height: 2rem;
      margin:0.5rem 0 2rem 0;
    }
    @media #{$desktop, $desktop-large, $desktop-huge}{
      font-size: 2rem;
      line-height: 2rem;
      margin:0.5rem 0 2rem 0;
    }
    &:local(.sind){
      color:$gray;
    }
  }
  ul{
    list-style: none;
    margin:auto;
    padding:0;
    max-width: 90%;
//    transform:translate(50%,0);
  }
}

:local(.li){
  text-align: left;
  border-bottom: 1px solid $gray;


  @media #{$phone-portrait, $tiny}{
    padding-bottom: 0.5rem;
    margin: 0 0 1rem 0;
  }
  @media #{$phone-landscape}{
    padding-bottom: 0.1rem;
    margin: 0 0 0.5rem 0;
  }
  @media #{$pad-portrait, $pad-landscape}{
    padding-bottom: 0.5rem;
    margin: 0 0 1rem 0;
  }
  @media #{$desktop, $desktop-large, $desktop-huge}{
    padding-bottom: 0.5rem;
    margin: 0 0 1rem 0;
  }
  .flex{
    display:flex;
    justify-content: flex-start;
    @media #{$phone-portrait, $tiny}{
      font-size: 1.15rem;
    }
    @media #{$phone-landscape}{
      font-size: 0.9rem;
    }
    @media #{$pad-portrait, $pad-landscape}{
      font-size: 1.3rem;
    }
    @media #{$desktop, $desktop-large, $desktop-huge}{
     font-size: 1.3rem;
    }
    .date{
      @media #{$phone-portrait,$phone-landscape, $tiny}{
        margin-right: 0.5rem;
      }
      @media #{$pad-portrait, $pad-landscape}{
        margin-right: 1rem;
      }
      @media #{$desktop, $desktop-large, $desktop-huge}{
        margin-right: 1rem;
      }
    }

    .title{
      text-transform: uppercase;
      font-weight:bold;
      @media #{$phone-portrait,$phone-landscape, $tiny}{
        margin-right: 0.5rem;
      }
      @media #{$pad-portrait, $pad-landscape}{
        margin-right: 1rem;
      }
      @media #{$desktop, $desktop-large, $desktop-huge}{
        margin-right: 1rem;
      }
    }
    .location{
      flex-grow: 1;
      margin-right: 3rem;
    }
    .tickets{
      a{
        text-decoration: none;
        text-transform: uppercase;
          @media #{$phone-portrait, $tiny}{
            font-size: 1.15rem;
          }
          @media #{$phone-landscape}{
            font-size: 0.9rem;
          }
          @media #{$pad-portrait, $pad-landscape}{
            font-size: 1.3rem;
          }
          @media #{$desktop, $desktop-large, $desktop-huge}{
           font-size: 1.3rem;
          }
      }
    }
  }
}