@import '../../styles/colors';
@import '../../styles/variables';

:local(.component){
  h2{
    text-align: center;
    color:$gray;
    font-weight: normal;
    @media #{$phone-portrait,$phone-landscape, $tiny}{
      font-size: 1.1rem;
      line-height: 1.1rem;
      margin:0.5rem 0 1rem 0;
    }
    @media #{$pad-portrait, $pad-landscape}{
      font-size: 2rem;
      line-height: 2rem;
      margin:0.5rem 0 2rem 0;
    }
    @media #{$desktop, $desktop-large, $desktop-huge}{
      font-size: 2rem;
      line-height: 2rem;
      margin:0.5rem 0 2rem 0;
    }
    &:local(.sind){
      color:$gray;
    }
  }
  ul{
    list-style: none;
    margin:auto;
    padding:0;
    max-width: 80%;
//    transform:translate(50%,0);
  }
}

:local(.li){
  text-align: left;
  border-bottom: 1px solid $white;
  //padding-bottom: 5px;
  margin: 0 0 0.5rem 0;
  .flex{
    display:flex;
    justify-content: flex-start;
    .date{
      margin:0 1rem 0 0;
      width:150px;
    }
  }
}