@import '../../styles/colors';

:local(.component){
  ul{
    list-style: none;
    margin:0;
    padding:0;
    max-width: 50%;
    transform:translate(50%,0);
  }
}

:local(.li){
  border-bottom: 1px solid $white;
  padding-bottom: 5px;
  .flex{
    display:flex;
    justify-content: space-between;
  }
}