
@font-face {
    font-family:"Commuters Sans SemiBold";
    src:url("commuters-sans-semi-bold.woff2") format("woff2"),url("commuters-sans-semi-bold.woff") format("woff"),url("commuters-sans-semi-bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        